<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.bos.mapper.ReservationMapper">

  <select id="isExistsReservationByRoomIdAndUseTime" resultType="boolean">
    SELECT EXISTS
    ( SELECT id
      FROM reservations
      WHERE room_id = #{roomId}
        AND start_time &lt;= #{endTime}
        AND #{startTime} &lt;= end_time
      FOR UPDATE
    )
  </select>

  <insert id="insertReservation">
    INSERT INTO reservations (user_id, room_id, start_time, end_time)
    VALUES (#{userId}, #{roomId}, #{startTime}, #{endTime})
  </insert>

</mapper>