<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.bos.mapper.RoomMapper">

  <insert id="insertRooms">
    INSERT INTO rooms (study_cafe_id, number, capacity)
    VALUES
    <foreach collection="list" item="room" separator=",">
      (
      #{room.studyCafeId},
      #{room.number},
      #{room.capacity}
      )
    </foreach>
  </insert>

</mapper>