<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.bos.mapper.RoomMapper">

  <select id="isExistsRoomNumber" resultType="boolean">
    SELECT EXISTS
    (
      SELECT id
      FROM rooms
      WHERE study_cafe_id = #{studyCafeId} AND
      number = #{roomNumber}
    )
  </select>

  <insert id="insertRooms">
    INSERT INTO rooms (study_cafe_id, number, capacity)
    VALUES
    <foreach collection="list" item="room" separator=",">
      (
      #{room.studyCafeId},
      #{room.number},
      #{room.capacity}
      )
    </foreach>
  </insert>

  <insert id="insertRoom">
    INSERT INTO rooms (study_cafe_id, number, capacity)
    VALUES (#{studyCafeId}, #{number}, #{capacity})
  </insert>

  <update id="updateRoom">
    UPDATE rooms
    <set>
      <if test="number != null">number = #{number},</if>
      <if test="capacity != null">capacity = #{capacity}</if>
    </set>
    WHERE id = #{id}
  </update>

  <delete id="deleteRoom">
    DELETE FROM rooms
    WHERE id = #{id}
  </delete>

  <select id="selectRoomUseInfo" resultType="kr.bos.model.dto.response.RoomUseInfoRes">
    SELECT id, number, capacity,
      ( SELECT EXISTS
        (
          SELECT id FROM reservations
          WHERE room_id = rooms.id
          AND start_time &lt;= #{searchTime}
          AND #{searchTime} &lt;= end_time
        )
      ) AS currentUse
    FROM rooms
    WHERE study_cafe_id = #{studyCafeId}
  </select>

</mapper>