<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.bos.mapper.UserMapper">

  <insert id="insertUser" parameterType="kr.bos.model.dto.request.UserReq">
    INSERT INTO users (email, password, name, address)
    VALUES (#{email}, #{password}, #{name}, #{address})
  </insert>

  <select id="isExistsEmail" resultType="boolean">
    SELECT EXISTS
    (SELECT email FROM users WHERE email = #{email})
  </select>

  <select id="selectUserByEmail" resultType="kr.bos.model.domain.User">
    SELECT id, email, password, name, address
    FROM users WHERE email = #{email}
  </select>

  <select id="selectUserById" resultType="kr.bos.model.dto.response.UserInfoRes">
    SELECT email, name, address
    FROM users WHERE id = #{userId}
  </select>

  <update id="updateUserById">
    UPDATE users
    <set>
      <if test="userReq.name != null">name = #{userReq.name},</if>
      <if test="userReq.address != null">address = #{userReq.address}</if>
    </set>
    WHERE id = #{userId}
  </update>

  <delete id="deleteUser">
    DELETE FROM users WHERE id = #{id}
  </delete>

</mapper>